body {
  margin: 0;
  font-family: serif;
}

#warning {
  color: seashell;
  position: absolute;
  top: 10px;
  left:5vw;
}

#info {
  color:seashell;
  position: absolute;
  top: 10px;
  left: 50vw;
}